<h1>Hello World</h1>
 <label for="form" class="form-label">Ask your question</label>
    <form action="/answer" data-turbo="false" class="form-control form-custom-width">
  <div class="form-inline">
    <input type="text" name="question" id="form" class="form-control form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
  </form>
